<div class="be-loader">
	<div class="spinner">
		<img src="/assets/logo-loader.png" alt="">
		<p class="circle">
			<span class="ouro">
				<span class="left"><span class="anim"></span></span>
				<span class="right"><span class="anim"></span></span>
			</span>
		</p>
	</div>
</div>

<!-- ヘッダー -->

<!-- MAIN CONTENT -->
<div id="content-block" class="work-box">
	<div class="editor-menu">
		<div class="container">
			<div class="buttons-navbar">
				<!--<div>-->
				<!--質問を保存するボタン-->
				<%# <%= f.submit '質問する', class: 'btn btn-primary' %>
				<!--</div>-->
			</div>
		</div>
	</div>
	<!--ここから質問作成フォーム-->
	<div class="work-area">
		<div class="container be-detail-container">
			<div class="row">
				<!--<div class="col-xs-12 col-md-9 _editor-content_">-->
				<div class="_editor-content_ justify-content-center">
					<div class="sec" data-sec="basic-information">
						<div class="be-large-question large-area">
							<div class="info-block style-2">
								<div class="be-large-content-align ">
									<h3 class="info-block-label">質問作成フォーム</h3>
								</div>
							</div>
							<div class="be-large-content-align">
								<%= form_with(model: @question) do |f| %>
									<!--タイトル入力フォーム-->
									<div class="form-group-question-new-title-input">
										<%= f.label :l_title, 'タイトル'%>
										<%= f.text_area :title, class: 'form-control', rows: 1 %>
									</div>
									<!--文章入力フォーム-->
									<div class="form-group-question-new-text-input">
										<%= f.label :l_text, '本文'%>
										<%= f.text_area :text, class: 'form-control', rows: 8 %>
									</div>
									<!--画像質問フォーム-->
									<div class="form-group-question-new-image-upload">
										<%= f.label :l_image, 'イメージ'%>
										<div class="upload-zone" for="question_image">
											<!-- ナビゲーション矢印 -->
											<span class="arrow left-arrow">＜</span>
											<span class="arrow right-arrow">＞</span>
											<i class="fa center-i fa-cloud-upload"></i>
											<%= f.file_field :images, multiple: true, id: :question_image, class: 'custom-file-input' %>
											<!-- 画像サムネイル表示領域 -->
											<div class="image-thumbnails"></div>
										</div>
									</div>
									<!--イメージ手書き入力フォーム呼び出しボタン-->
									<button id="handwrite-image-button" type="button" class="btn4">イメージを手書きする場合はこちら</button>
										<div id="handwrite-image-modal" class="handwrite-image-modal">
											<div class="handwrite-image-modal-content">
												<div class="handwrite-toolbar-container">
													<div class="toolbar">
														<!-- ペンツールボタン -->
														<button class="tool-icon" id="pen-tool">
    													<i class="fa-solid fa-pencil"></i>
														</button>
														<!-- 色の選択パレット -->
														<div class="color-palette">
															<div class="color-box" style="background-color: #000000;"></div> <!-- 黒 -->
															<div class="color-box" style="background-color: #FF0000;"></div> <!-- 赤 -->
															<div class="color-box" style="background-color: #00FF00;"></div> <!-- 緑 -->
															<div class="color-box" style="background-color: #0000FF;"></div> <!-- 青 -->
														</div>
														<!-- 線の太さの調整エリア -->
														<div class="line-width-adjuster-container">
															<button id="decrease-line-width">-</button>
															<input type="text" id="line-width-input" value="5">
															<button id="increase-line-width">+</button>
														</div>
														<!-- 消しゴムボタン -->
														<button class="tool-icon" id="eraser-tool">
															<i class="fa-solid fa-eraser"></i>
														</button>
														<!-- 消しゴムのサイズの調整エリア -->
														<div class="eraser-width-adjuster-container">
															<button id="decrease-eraser-width">-</button>
															<input type="text" id="eraser-width-input" value="5">
															<button id="increase-eraser-width">+</button>
														</div>
														<!-- 選択ツールボタン -->
														<button class="tool-icon" id="select-move-tool">
															<i class="fa-solid fa-arrows-up-down-left-right"></i>
														</button>
														<!-- クリアボタン -->
														<button class="tool-icon" id="clear-canvas-tool">
															<i class="fa-solid fa-trash-can"></i>
														</button>
													</div>
													<div class="canvas-wrapper">	
														<canvas id="handwrite-image-canvas"></canvas>
													</div>
												</div>
												<button id="handwrite-image-modal-send" class="btn5"> 送信する </button>
												<button id="handwrite-image-modal-close" class="btn6">キャンセル</button>
											</div>
										</div>
									<!--カテゴリ選択ボックス-->
									<div class="form-group-question-new-category-select">
									<!--<div class="container-fluid cd-main-content custom-container">-->
										<%= f.label :category, 'カテゴリー' %>
										<div>
										<%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択してください' }, { class: 'new-question-select' } %>
										</div>
									</div>
									<!--質問ボタン-->
									<div class="form-group-question-new-submit-button">
										<%= f.submit '質問する', class: 'btn3' %>
									</div>
								<% end %>
								<!--キャンセルボタン-->
								<div class="form-group-question-new-back-button">
									<%= link_to :back do %>
										<button type="button" class="btn4">戻る</button>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- フッター -->

<div class="be-fixed-filter"></div>

<div class="large-popup login">
	<div class="large-popup-fixed"></div>
	<div class="container large-popup-container">
		<div class="row">
			<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
				<div class="row">
					<div class="col-md-12">
						<i class="fa fa-times close-button"></i>
						<h5 class="large-popup-title">ログイン</h5>
					</div>
					<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
					<div class="col-md-6">
						<%= f.email_field :email, class: 'input-signtype', placeholder: "メールアドレスを入力してください" %>
						<%= f.password_field :password, class: 'input-signtype', placeholder: "パスワードを入力してください" %>
					</div>
					<div class="col-xs-6 for-signin">
						<%= f.submit 'ログイン', class: 'be-popup-sign-button' %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="large-popup register">
	<div class="large-popup-fixed"></div>
	<div class="container large-popup-container">
		<div class="row">
			<div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
				<div class="row">
					<div class="col-md-12">
						<i class="fa fa-times close-button"></i>
						<h5 class="large-popup-title">アカウント作成</h5>
					</div>
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'new_user' }) do |f| %>
					<div class="col-md-6">
						<%= f.text_field :name, :class => "input-signtype", :placeholder => "ニックネーム" %>
					</div>
					<div class="col-md-6">
						<%= f.email_field :email, :class => "input-signtype", :placeholder => "Eメール" %>
					</div>
					<div class=" col-md-6">
						<%= f.password_field :password, :class => "input-signtype", :placeholder => "パスワード" %>
					</div>
					<div class="col-md-6">
						<%= f.password_field :password_confirmation, :class => "input-signtype", :placeholder => "パスワードをもう一度入力してください" %>
					</div>
					<div class="col-md-6">
						<div class="be-custom-select-block">
							<%= f.label :sex, '性別'%>
							<%= f.select :sex, {'男性': 1, '女性': 2, 'その他': 3}, { include_blank: '性別' }, { class: 'be-custom-select', required: true } %>
						</div>
					</div>
					<div class="col-md-6 be-date-block">
						<div class="form-group">
							<%= f.label :birthday, '生年月日' %>
							<%= f.date_field :birthday, class: 'form-control' %>
						</div>
					</div>
					<div class="col-md-6 for-signin">
						<%= f.submit '登録する', class: 'be-popup-sign-button' %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SCRIPT	-->
<script src="/assets/jquery-2.1.4.min.js"></script>
<script src="/assets/jquery-ui.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/idangerous.swiper.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/jquery.viewportchecker.min.js"></script>
<script src="/assets/colors.js"></script>
<script src="/assets/jqColorPicker.js"></script>
<script src="/assets/my-style.js"></script>
<script src="/assets/fabric.js"></script>
<script src="/assets/handwrite-image.js"></script>
<script src="/assets/global.js"></script>