<div class="be-loader">
	<div class="spinner">
		<img src="/assets/logo-loader.png" alt="">
		<p class="circle">
			<span class="ouro">
				<span class="left"><span class="anim"></span></span>
				<span class="right"><span class="anim"></span></span>
			</span>
		</p>
	</div>
</div>

<!-- ヘッダー -->

<!-- MAIN CONTENT -->
<div id="content-block">
	<div class="container be-detail-container">
		<div class="row">
			<%= form_with(model: @user, url: registration_path(@user), method: :put, html: { multipart: true }, local: false) do |f| %>
				<div class="_editor-content_1 justify-content-center">
					<div class="sec" data-sec="basic-information">
						<div class="be-large-question">
							<div class="info-block style-2">
								<div class="be-large-content-align ">
									<h3 class="info-block-label">ユーザー情報を変更する</h3>
								</div>
							</div>
							<div class="be-large-content-align">
								<!--プロフィール画像を小さく表示し、右のボタンから画像ファイルを選択して新しいプロフィール画像を設定する-->
								<div class="be-change-ava">
									<div class="avatar_area_2">
										<%= image_tag(@user.avatar.attached? ? url_for(@user.avatar) : "/default03.png", alt: "アバター画像", class: "be-img-block", size: "115x115" ) %>
									</div>
									<div class="avatar_btn_area">
										<%= f.file_field :avatar, accept: "image/jpeg,image/png", id: "avatar-upload", style: "display:none;" %>
										<button type="button" onclick="document.getElementById('avatar-upload').click();" class="btn8">画像を変更する</button>
									</div>
								</div>
							</div>
							<div class="be-large-content-align">
								<div class="row">
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-group fg_icon focus-2">
											<div class="form-label">ニックネーム</div>
											<input class="form-input" type="text" value="">
										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-label">地域</div>
											<%= f.select :region, options_for_select([['選択なし', '0'], ['北海道', '1'], ['東北', '2'], ['関東', '3'], ['中部', '4'], ['近畿', '5'], ['中国', '6'], ['四国', '7'], ['九州', '8'], ['九州（沖縄）', '9']]), { selected: f.object.region || '0' }, { class: "region_select_dropdown" } %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sec" data-sec="edit-password">
						<!--ここでパスワードを変更する-->
						<div class="be-large-question">
							<div class="info-block style-2">
								<div class="be-large-content-align">
									<h3 class="info-block-label">パスワードを変更する</h3>
								</div>
							</div>
							<div class="be-large-content-align">
								<div class="row">
									<div class="input-col col-xs-12 col-sm-4">
										<div class="form-group focus-2">
											<%= f.label :current_password, '現在のパスワード', class: "form-label" %>
											<%= f.password_field :current_password, class: "form-input", placeholder: "" %>
										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-4">
										<div class="form-group focus-2">
											<%= f.label :password, '新しいパスワード', class: "form-label" %>
											<%= f.password_field :password, autocomplete: "new-password", class: "form-input", placeholder: "" %>
										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-4">
										<div class="form-group focus-2">
											<%= f.label :password_confirmation, '新しいパスワードを再度入力', class: "form-label" %>
											<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input", placeholder: "" %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="user_edit_btn_block">
					<!--変更を保存するボタンを設置-->
					<%= f.submit '変更を保存', class: "btn9" %>
					<!--マイページに戻るボタン-->
					<%= link_to :back do %>
						<button type="button" class="btn10">戻る</button>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- フッター -->

<!-- SCRIPT	-->
<script src="/assets/jquery-2.1.4.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/idangerous.swiper.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/jquery.viewportchecker.min.js"></script>
<script src="/assets/global.js"></script>