<% @comments.each do |comment| %>
  <div class="be-comment">
    <div class="be-img-comment">
      <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.avatar_url, alt: "", class: "be-ava-comment" %>
      <% end %>
    </div>
    <div class="be-comment-content">
      <span class="be-comment-name">
        <%= link_to comment.user.name, user_path(comment.user) %>
      </span>
      <span class="be-comment-time">
        <i class="fa fa-clock-o"></i>
        <%= comment.created_at.strftime("%B %d, %Y at %I:%M%P") %>
      </span>
      <p class="be-comment-text">
        <%= comment.content %>
      </p>
    </div>
  </div>
<% end %>
