<% scope = admin? ? @answers : @answers.where(pending: false) %>
<% scope.each do |answer| %>
  <div class="be-answer-list">
    <div class="be-answer-stamp">
      <% if answer.points_awarded %>
        <%= image_tag "medal.png" %>
      <% end %>
    </div>
    <div class="be-answer">
      <div class="be-img-answer">
        <%= link_to user_path(answer.user) do %>
          <%= image_tag answer.user.avatar_url, alt: "", class: "be-ava-answer" %>
        <% end %>
      </div>
      <div class="be-answer-content">
        <span class="be-answer-name">
          <%= link_to answer.user.name, user_path(answer.user) %>
        </span>
        <span class="be-answer-time">
          <i class="fa fa-clock-o"></i>
          <%= answer.created_at.strftime( "%Y年%m月%d日 %H:%M" ) %>
        </span>
        <p class="be-answer-text">
          <%= answer.text %>
        </p>
      </div>
    </div>
  </div>
  <div class="confirm-correct-answer-btn-container">
    <% if current_user.id == @question.user_id && !answer.pending %>
      <button class="confirm-correct-answer-btn" data-answer-id="<%= answer.id %>" data-question-id="<%= @question.id %>">これが正解</button>
    <% end %>
    <% if admin? && answer.pending %>
      <% if current_user.id == @question.user_id %>
        <button id="confirm-correct-answer-btn-<%= answer.id %>" class="confirm-correct-answer-btn">これが正解</button>
        <span style="width: 30px; display: inline-block;"></span>
      <% end %>
      <%= button_to "承認", approve_answer_path(answer), method: :patch, class: "approve-answer-btn", id: "approve-answer-btn-#{answer.id}" %>
      <span style="width: 30px; display: inline-block;"></span>
      <%= button_to "削除", question_answer_path(question_id: answer.question_id, id: answer.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete-answer-btn", id: "delete-answer-btn-#{answer.id}" %>
    <% end %>
  </div>
  <div id="correct-answer-confirmation-modal-<%= answer.id %>" class="modal" data-question-id="<%= @question.id %>">
    <div class="correct-answer-confirmation-modal-inner">
      <div class="modal-content">
        <p>この回答を正解としてよろしいですか。</p>
      </div>
      <div class="answer-btn-container">
        <!-- `id`属性を削除し、`class`属性で制御 -->
        <button class="confirm-answer-btn btn-spacing" data-answer-id="<%= answer.id %>" data-user-id="<%= answer.user.id %>">はい</button>
        <button class="cancel-answer-btn">いいえ</button>
      </div>
      <!-- 処理中のアイコンを表示 -->
      <div id="correct-answer-processing-indicator">
      </div>
      <div id="alert-content">
        <!-- ここにalertの内容が表示される -->
      </div>
      <div id="alert-close-btn-container" style="display: none;">
        <button id="alert-close-btn">閉じる</button>
      </div>
    </div>
  </div>
<% end %>