<% @answers.each do |answer| %>
  <div class="be-answer-list">
    <div class="be-answer-stamp">
    <!--スタンプの内容-->
    </div>
    <div class="be-answer">
      <div class="be-img-answer">
        <%= link_to user_path(answer.user) do %>
          <%= image_tag answer.user.avatar_url, alt: "", class: "be-ava-answer" %>
        <% end %>
      </div>
      <div class="be-answer-content">
        <span class="be-answer-name">
          <%= link_to answer.user.name, user_path(answer.user) %>
        </span>
        <span class="be-answer-time">
          <i class="fa fa-clock-o"></i>
          <%= answer.created_at.strftime( "%Y年%m月%d日 %H:%M" ) %>
        </span>
        <p class="be-answer-text">
          <%= answer.text %>
        </p>
      </div>
    </div>
  </div>
  <div class="confirm-correct-answer-btn-container">
    <% if current_user.id == @post.user_id %>
      <button id ="confirm-correct-answer-btn">これが正解</button>
    <% end %>
  </div>
  <div id="correct-answer-confirmation-modal" class="modal">
    <div class="correct-answer-confirmation-modal-inner">
      <!-- 処理中の表示 -->
      <div id="correct-answer-processing-indicator" style="display: none; width: 200px; height: 200px; margin: auto;">
        <img src="/assets/processing.gif" alt="Loading...">
      </div>
      <div class="modal-content">
        <p>この回答を正解としてよろしいですか。</p>
      </div>
      <div class="answer-btn-container">
        <button id="confirm-answer-btn" class="btn-spacing" data-answer-id="<%= answer.id %>" data-user-id="<%= answer.user.id %>">はい</button>
        <button id="cancel-answer-btn">いいえ</button>
      </div>
    </div>
  </div>
<% end %>