<div class="be-loader">
	<div class="spinner">
		<img src="/assets/logo-loader.png" alt="">
		<p class="circle">
			<span class="ouro">
				<span class="left"><span class="anim"></span></span>
				<span class="right"><span class="anim"></span></span>
			</span>
		</p>
	</div>
</div>

<!-- ヘッダー -->

<!-- MAIN CONTENT -->
<div id="content-block">
	<div class="container-fluid_2 custom-container">
		<div class="row">
			<!--投稿の一覧を表示-->
			<div class="container-pending-answers">
				<div class="col-md-10">
					<div id="container-mix" class="row _post-container_">
						<!--ここに画面のタイトルを入れる-->
						<div class="pending_answers_page_title">
							<h2 class="info-block-label">保留中回答一覧確認画面</h2>
						</div>
						<% @posts_with_pending_answers.each do |post| %>
						<div class="category-1 mix custom-column-5">
							<div class="be-post">
								<!--投稿画像を呼び出して表示(リンク付き)-->
								<% if post.images? %>
								<%= link_to image_tag(post.images[0].url, alt: "投稿したイメージ"), post_path(post), class: "be-img-block" %>
								<% else %>
								<%= link_to image_tag("/default01.png", alt: "NO IMAGE"), post_path(post), class: "be-img-block" %>
								<% end %>
								<!--投稿のタイトルを表示-->
								<a><%= link_to(post.title, post_path(post), class: "be-post-title") %></a>
								<span>
									<!--投稿のカテゴリを表示-->
									<a class="be-post-tag"><%= post.category.name %></a>
								</span>
								<div class="author-post">
									<!--プロフィール画像を呼び出して表示-->
									<% if post.user.avatar? %>
										<%= image_tag post.user.avatar.url, alt: "プロフィール画像", class: "rounded-circle", size: "150x150" %>
									<% else %>
										<%= image_tag "/default01.png", alt: "NO IMAGE", class: "rounded-circle", size: "150x150" %>
									<% end %>
									<!--投稿したユーザのニックネームを呼び出して表示-->
									<span>by <a><%= post.user.name %></a></span>
								</div>
								<div class="info-block">
									<!--投稿数-->
									<span><i class="fa fa-eye"></i><%= post.view_count %></span>
									<!--リプライ数-->
									<span><i class="fa fa-answer-o"></i><%= post.answers.count %></span>
								</div>
							</div>
						</div>
						<% end %>
						<%= paginate @posts_with_pending_answers %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- フッター -->

<div class="be-fixed-filter"></div>

<div class="theme-config">
	<div class="main-color">
		<div class="title">Main Color:</div>
		<div class="colours-wrapper">
			<div class="entry color1 m-color active" data-colour="/assets/stylesheet.css"></div>
			<div class="entry color3 m-color" data-colour="/assets/style-green.css"></div>
			<div class="entry color6 m-color" data-colour="/assets/style-orange.css"></div>
			<div class="entry color8 m-color" data-colour="/assets/style-red.css"></div>
			<div class="title">Second Color:</div>
			<div class="entry s-color  active color10" data-colour="/assets/stylesheet.css"></div>
			<div class="entry s-color color11" data-colour="/assets/style-oranges.css"></div>
			<div class="entry s-color color12" data-colour="/assets/style-greens.css"></div>
			<div class="entry s-color color13" data-colour="/assets/style-reds.css"></div>
		</div>
	</div>
	<div class="open"><img src="/assets/icon-134.png" alt=""></div>
</div>
<!-- SCRIPTS	 -->
<script src="/assets/jquery-2.1.4.min.js"></script>
<script src="/assets/jquery-ui.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/idangerous.swiper.min.js"></script>
<script src="/assets/jquery.mixitup.js"></script>
<script src="/assets/jquery.viewportchecker.min.js"></script>
<script src="/assets/filters.js"></script>
<!--<script src="/assets/global.js"></script>-->