<div class="be-loader">
	<div class="spinner">
		<img src="/assets/logo-loader.png" alt="">
		<p class="circle">
			<span class="ouro">
				<span class="left"><span class="anim"></span></span>
				<span class="right"><span class="anim"></span></span>
			</span>
		</p>
	</div>
</div>

<!-- ヘッダー -->

<!-- MAIN CONTENT -->
<div id="content-block" class="work-box">
	<div class="editor-menu">
		<div class="container">
			<div class="buttons-navbar">
				<!--<div>-->
				<!--投稿を保存するボタン-->
				<%# <%= f.submit '投稿する', class: 'btn btn-primary' %>
				<!--</div>-->
			</div>
		</div>
	</div>
	<!--ここから投稿作成フォーム-->
	<div class="work-area">
		<div class="container be-detail-container">
			<div class="row">
				<!--<div class="col-xs-12 col-md-9 _editor-content_">-->
				<div class="_editor-content_ justify-content-center">
					<div class="sec" data-sec="basic-information">
						<div class="be-large-post large-area">
							<div class="info-block style-2">
								<div class="be-large-post-align ">
									<h3 class="info-block-label">投稿作成フォーム</h3>
								</div>
							</div>
							<div class="be-large-post-align">
								<%= form_with(model: @post) do |f| %>
								<div>
									<!--タイトル入力フォーム-->
									<%= f.label :l_title, 'タイトル'%>
									<%= f.text_area :title, class: 'form-control', rows: 1 %>
								</div>
								<div>
									<!--文章入力フォーム-->
									<%= f.label :l_text, '本文'%>
									<%= f.text_area :text, class: 'form-control', rows: 8 %>
								</div>
								<div>
									<%= f.label :l_image, 'イメージ'%>
									<div class="upload-zone">
										<!--画像投稿フォーム-->
										<i class="fa center-i fa-cloud-upload"></i>
										<%= f.file_field :image, id: :post_image %>
										<!--<i class="fa center-i fa-cloud-upload"></i>
											<input class="file" type="file"/>-->
									</div>
								</div>
								<!--カテゴリ選択フォーム-->
								<div class="container-fluid cd-main-content custom-container">
									<span class="choose">カテゴリを選択</span>
									<div class="post-dropdown">
										<div class="select">
											<span>選択してください</span>
											<i class="fa fa-chevron-left"></i>
										</div>
										<input type="hidden" name="category">
										<ul class="post-dropdown-menu">
											<% @categories.each do |category| %>
											<li>
												<%= category.name %>
											</li>
											<% end %>
										</ul>
									</div>
								</div>
								<!--投稿を保存するボタン-->
								<div>
									<%= f.submit '投稿する', class: 'button-26' %>
									<% end %>
								</div>
								<!--キャンセルボタン-->
								<div>
									<%= link_to :back do %>
									<button type="button" class="button-4">戻る</button>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- フッター -->

<div class="be-fixed-filter"></div>
<div class="mini-popup-wrapper brand-popup">


	<div class="mini-popup ">
		<i class="fa close-mini fa-times"></i>
		<h3>Add Brand</h3>
		<form action="./">
			<input type="text"><br>
			<button type="button" class="btn btn-primary">DONE</button>
		</form>
	</div>
</div>
<div class="mini-popup-wrapper school-popup">
	<div class="mini-popup ">
		<i class="fa close-mini fa-times"></i>
		<h3>Add School</h3>
		<form action="./">
			<input type="text"><br>
			<button type="button" class="btn btn-primary">DONE</button>
		</form>
	</div>
</div>
<div class="mini-popup-wrapper tools-popup">
	<div class="mini-popup ">
		<i class="fa close-mini fa-times"></i>
		<h3>Add Tools</h3>
		<form action="./">
			<input type="text"><br>
			<button type="button" class="btn btn-primary">DONE</button>
		</form>
	</div>
</div>
<div class="mini-popup-wrapper team-popup">
	<div class="mini-popup ">
		<i class="fa close-mini fa-times"></i>
		<h3>Add Team</h3>
		<form action="./">
			<input type="text"><br>
			<button type="button" class="btn btn-primary">DONE</button>
		</form>
	</div>
</div>
<div class="mini-popup-wrapper agencies-popup">
	<div class="mini-popup ">
		<i class="fa close-mini fa-times"></i>
		<h3>Add Agencies</h3>
		<form action="./">
			<input type="text"><br>
			<button type="button" class="btn btn-primary">DONE</button>
		</form>
	</div>
</div>
<div class="large-popup login">
	<div class="large-popup-fixed"></div>
	<div class="container large-popup-container">
		<div class="row">
			<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
				<div class="row">
					<div class="col-md-12">
						<i class="fa fa-times close-button"></i>
						<h5 class="large-popup-title">Log in</h5>
					</div>
					<form action="./" class="popup-input-search">
						<div class="col-md-6">
							<input class="input-signtype" type="email" required="" placeholder="Your email">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="password" required="" placeholder="Password">
						</div>
						<div class="col-xs-6">
							<div class="be-checkbox">
								<label class="check-box">
									<input class="checkbox-input" type="checkbox" value="" /> <span class="check-box-sign"></span>
								</label>
								<span class="large-popup-text">
									Stay signed in
								</span>
							</div>

							<a href="blog-detail-2.html" class="link-large-popup">Forgot password?</a>
						</div>
						<div class="col-xs-6 for-signin">
							<input type="submit" class="be-popup-sign-button" value="SIGN IN">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="large-popup embed">
	<div class="large-popup-fixed"></div>
	<div class="container large-popup-container">
		<div class="row">
			<div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
				<div class="row">
					<div class="col-md-12">
						<i class="fa fa-times close-button close-media"></i>
						<h5 class="large-popup-title">Embed Media</h5>
					</div>
					<div class="col-md-12">
						<form action="./">
							<textarea class="main-textarea"></textarea>
							<input type="submit" class="be-popup-sign-button" value="Embed" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="theme-config">
	<div class="main-color">
		<div class="title">Main Color:</div>
		<div class="colours-wrapper">
			<div class="entry color1 m-color active" data-colour="/assets/stylesheet.css"></div>
			<div class="entry color3 m-color" data-colour="/assets/style-green.css"></div>
			<div class="entry color6 m-color" data-colour="/assets/style-orange.css"></div>
			<div class="entry color8 m-color" data-colour="/assets/style-red.css"></div>
			<div class="title">Second Color:</div>
			<div class="entry s-color  active color10" data-colour="/assets/stylesheet.css"></div>
			<div class="entry s-color color11" data-colour="/assets/style-oranges.css"></div>
			<div class="entry s-color color12" data-colour="/assets/style-greens.css"></div>
			<div class="entry s-color color13" data-colour="/assets/style-reds.css"></div>
		</div>
	</div>
	<div class="open"><img src="/assets/icon-134.png" alt=""></div>
</div>
<!-- SCRIPT	-->
<script src="/assets/jquery-2.1.4.min.js"></script>
<script src="/assets/jquery-ui.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/idangerous.swiper.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/jquery.viewportchecker.min.js"></script>
<script src="/assets/colors.js"></script>
<script src="/assets/jqColorPicker.js"></script>
<script src="/assets/my-style.js"></script>
<!--<script src="/assets/global.js"></script>-->