<% resource ||= User.new %>
<% resource_name ||= :user %>

<div class="be-loader">
  <div class="spinner">
    <img src="/assets/logo-loader.png" alt="">
    <p class="circle">
      <span class="ouro">
        <span class="left"><span class="anim"></span></span>
        <span class="right"><span class="anim"></span></span>
      </span>
    </p>
  </div>
</div>

<!-- ヘッダー -->

<!-- 質問内容を表示 -->
<div id="content-block">
  <div class="container custom-container be-detail-container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="be-large-post">
          <div class="blog-content popup-gallery be-large-post-align">
            <!--<h1 class="be-post-title to">-->
            <div class="be-post-title">
              <!--質問のタイトルを表示-->
              <p><%= @post.title %></p>
            </div>
            <div class="clear"></div>
            <div class="post-text">
              <!--質問したテキストを表示(段落・改行を反映)-->
              <%= safe_join(@post.text.split("\n"),tag(:br)) %>
              <!--質問イメージがある場合は全て表示　　　ない場合はデフォルトイメージを表示-->
              <div class="image-block">
                <% if @post.images.present? %>
                <% @post.images.each do |image| %>
                <%= image_tag (image.url) %>
                <% end %>
                <% else %>
                <%= link_to image_tag("/default01.png", alt: "NO IMAGE"), post_path(@post), class: "be-img-block" %>
                <% end %>
              </div>
              <div class="image-text">
                <!--画像について説明する文章があれば表示-->
              </div>
            </div>
          </div>
          <!--カテゴリを表示-->
          <div class="be-large-post-align">
            <h3 class="left-menu-article">
              カテゴリ
            </h3>
            <div class="tags_block clearfix">
              <ul>
                <li><a><%= @post.category.name %></a></li>
                <!--カテゴリを表示-->
              </ul>
            </div>
          </div>
          <div class="number-of-views-and-answers">
            <div class="be-large-post-align">
              <span><i class="fa fa-eye"></i><%= @post.view_count %></span>
              <span><i class="fa fa-answer-o"></i><%= @post.answers.count %></span>
            </div>
          </div>
        </div>
        <!--質問したユーザの質問一覧-->
        <div class="row">
          <% @posts.each do |post| %>
          <div class="col-md-4">
            <div class="be-post">
              <div>
                <%= link_to(post_path(post), {class: "be-img-block"}) %>
              </div>
              <div>
                <!--質問イメージの1枚目をサムネイルとして表示(ある場合は)-->
                <div class="image-block">
                  <% if post.images? %>
                  <%= link_to image_tag(post.images[0].url, alt: "質問したイメージ"), post_path(post), class: "be-img-block" %>
                  <% else %>
                  <%= link_to image_tag("/default01.png", alt: "NO IMAGE"), post_path(post), class: "be-img-block" %>
                  <% end %>
                </div>
              </div>
              <div>
                <!--質問のタイトルを表示-->
                <%= link_to(post.title, post_path(post), {class: "be-post-title"}) %>
              </div>
              <span>
                <!--質問のカテゴリを表示-->
                <a class="be-post-tag"><%= post.category.name %></a>
              </span>
              <div class="author-post">
                <!--プロフィール画像があったら表示-->
                <% if post.user.avatar? %>
                <p>
                  <%= image_tag post.user.avatar.url, alt: "プロフィール画像", class: "ava-author", size: "70x70" %>
                </p>
                <% else %>
                <p>
                  <%= image_tag "/default03.jpg", alt: "NO IMAGE", class: "ava-author", size: "70x70" %>
                </p>
                <% end %>
                <!--質問したユーザのニックネームを呼び出して表示-->
                <span>by
                  <a><%= post.user.name %></a>
                </span>
                <!--質問のIDを保持する（Ajaxでanswers_controllerへ渡す）-->
                <input type="hidden" id="current-post-id" value="<%= @post.id %>">
              </div>
              <div class="number-of-views-and-answers2">
                <span><i class="fa fa-eye"></i><%= @post.view_count %></span>
                <span><i class="fa fa-answer-o"></i><%= @post.answers.count %></span>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="be-answer-block">
          <div class="be-answer-block-inner">
	          <h1 class="answers-title">回答 （ <%= @answers.count %> ）</h1>
	          <p class="about-answer-block">
	            回答するには<%= link_to "サインイン", new_user_registration_path %>してください。
	          </p>
	          <%= form_with model: [ @post, @post.answers.build ], local: true, html: { class: 'form-spacing' } do |form| %>
	            <div class="form-group">
	              <%= form.label :text, "回答", class: 'control-label' %>
	              <%= form.text_area :text, id: 'answer_content', class: 'form-control-placeholder', placeholder: "回答を入力してください。", rows: 1 %>
	              <ul id="search-results"></ul>
	            </div>
	            <%= form.submit "送信する", class: "answer-submit-button" %>
	          <% end %>
	          <div id="answer-submission-error-modal" class="answer-submission-error-modal">
	            <div class="answer-submission-error-modal-inner">
	              <div id="answer-submission-error-modal-notes">
	                <p>送信に失敗しました。</p>
                </div>
                <div class="answer-submission-error-modal-return-btn-container">
	                <button id="answer-submission-error-modal-return-button" class="waves-effect waves-green btn-flat">戻る</button>
	              </div>
	            </div>
	          </div>
	          <div id="answer-requirements-failed-modal" class="answer-requirements-failed-modal">
	            <div class="answer-requirements-failed-modal-inner">
	              <div id="answer-requirements-failed-modal-notes">
	                <p>入力した内容は送信できません。</p>
                </div>
                <div class="answer-requirements-failed-modal-return-btn-container">
	                <button id="answer-requirements-failed-modal-return-button" class="waves-effect waves-green btn-flat">戻る</button>
	              </div>
	            </div>
	          </div>
	          <%= render 'answers/answers', answers: @answers %>
	        </div>
        </div>
      </div>
      <div class="col-md-3 col-md-pull-9 left-feild">
        <div class="be-user-block">
          <div class="be-user-detail">
            <% if @post.user.avatar? %>
            <p>
              <%= image_tag post.user.avatar.url, alt: "プロフィール画像", class: "be-ava-user", size: "70x70" %>
            </p>
            <% else %>
            <p>
              <%= image_tag "/default03.jpg", alt: "NO IMAGE", class: "be-ava-user", size: "70x70" %>
            </p>
            <% end %>
            <p class="be-use-name"><%= @post.user.name %></p>
            <!--質問したユーザのニックネームを呼び出して表示-->
            <span class="be-user-info">
              ここにも何か入れる
            </span>
          </div>
          <div class="be-text-userblock">
            <%= @post.user.self_introduction %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- フッター -->

<div class="be-fixed-filter"></div>

<div class="large-popup login">
  <div class="large-popup-fixed"></div>
  <div class="container large-popup-container">
    <div class="row">
      <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-times close-button"></i>
            <h5 class="large-popup-title">ログイン</h5>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
          <div class="col-md-6">
            <%= f.email_field :email, class: 'input-signtype', placeholder: "メールアドレスを入力してください" %>
            <%= f.password_field :password, class: 'input-signtype', placeholder: "パスワードを入力してください" %>
          </div>
          <div class="col-xs-6 for-signin">
            <%= f.submit 'ログイン', class: 'be-popup-sign-button' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-popup register">
  <div class="large-popup-fixed"></div>
  <div class="container large-popup-container">
    <div class="row">
      <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-times close-button"></i>
            <h5 class="large-popup-title">アカウント作成</h5>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'new_user' }) do |f| %>
          <div class="col-md-6">
            <%= f.text_field :name, :class => "input-signtype", :placeholder => "ニックネーム" %>
          </div>
          <div class="col-md-6">
            <%= f.email_field :email, :class => "input-signtype", :placeholder => "Eメール" %>
          </div>
          <div class=" col-md-6">
            <%= f.password_field :password, :class => "input-signtype", :placeholder => "パスワード" %>
          </div>
          <div class="col-md-6">
            <%= f.password_field :password_confirmation, :class => "input-signtype", :placeholder => "パスワードをもう一度入力してください" %>
          </div>
          <div class="col-md-6">
            <div class="be-custom-select-block">
              <%= f.label :sex, '性別'%>
              <%= f.select :sex, {'男性': 1, '女性': 2, 'その他': 3}, { include_blank: '性別' }, { class: 'be-custom-select', required: true } %>
            </div>
          </div>
          <div class="col-md-6 be-date-block">
            <div class="form-group">
              <%= f.label :birthday, '生年月日' %>
              <%= f.date_field :birthday, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6 for-signin">
            <%= f.submit '登録する', class: 'be-popup-sign-button' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SCRIPTS	 -->
<script src="/assets/jquery-2.1.4.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/idangerous.swiper.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/jquery.viewportchecker.min.js"></script>
<script src="/assets/magnific.js"></script>
<script src="/assets/global.js"></script>