<% if logged_in? %>

<div class="be-loader">
  <div class="spinner">
    <img src="/assets/logo-loader.png" alt="">
    <p class="circle">
      <span class="ouro">
        <span class="left"><span class="anim"></span></span>
        <span class="right"><span class="anim"></span></span>
      </span>
    </p>
  </div>
</div>

<!-- ヘッダー -->

<!-- 投稿内容を表示 -->
<div id="content-block">
  <div class="container custom-container be-detail-container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="be-large-post">
          <div class="blog-content popup-gallery be-large-post-align">
            <!--<h1 class="be-post-title to">-->
            <div class="be-post-title">
              <!--投稿のタイトルを表示-->
              <p><%= @post.title %></p>
            </div>
            <!--</h1>-->

            <%# <span class="be-text-tags">
								<a href="blog-detail-2.html" class="be-post-tag">Interactiob design</a>, 
								<a href="blog-detail-2.html" class="be-post-tag">UI/UX</a>,  
								<a href="blog-detail-2.html" class="be-post-tag">Web Design</a>
							</span> %>
            <div class="clear"></div>
            <div class="post-text">
              <!--投稿したテキストを表示(段落・改行を反映)-->
              <%= safe_join(@post.text.split("\n"),tag(:br)) %>
              <!--投稿イメージがある場合は全て表示　　　ない場合はデフォルトイメージを表示-->
              <div class="image-block">
                <% if @post.images.present? %>
                <% @post.images.each do |image| %>
                <%= image_tag (image.url) %>
                <!--以下だと表示できない-->
                <%#= attachment_image_tag image, :images, :fill, 1000, 800, alt: "投稿画像", class: "popup-a" %>
                <% end %>
                <% else %>
                <%= link_to image_tag("/default01.png", alt: "NO IMAGE"), post_path(@post), class: "be-img-block" %>
                <% end %>
              </div>
              <div class="image-text">
                <!--画像について説明する文章があれば表示-->
              </div>
            </div>
          </div>
          <!--カテゴリを表示-->
          <div class="be-large-post-align">
            <h3 class="letf-menu-article">
              カテゴリ
            </h3>
            <div class="tags_block clearfix">
              <ul>
                <li><a><%= @post.category.name %></a></li>
                <!--カテゴリを表示-->
              </ul>
            </div>
          </div>
          <div class="number-of-likes-and-comments">
            <div class="be-large-post-align">
              <span><i class="fa fa-eye"></i> 753</span>
              <span><i class="fa fa-comment-o"></i> 50</span>
            </div>
          </div>
        </div>
        <!--投稿したユーザの投稿一覧-->
        <div class="row">
          <% @posts.each do |post| %>
          <div class="col-md-4">
            <div class="be-post">
              <div>
                <%= link_to(post_path(post), {class: "be-img-block"}) %>
              </div>
              <div>
                <!--投稿イメージの1枚目をサムネイルとして表示(ある場合は)-->
                <div class="image-block">
                  <% if post.images? %>
                  <%= link_to image_tag(post.images[0].url, alt: "投稿したイメージ"), post_path(post), class: "be-img-block" %>
                  <% else %>
                  <%= link_to image_tag("/default01.png", alt: "NO IMAGE"), post_path(post), class: "be-img-block" %>
                  <% end %>
                </div>
              </div>
              <div>
                <!--投稿のタイトルを表示-->
                <%= link_to(post.title, post_path(post), {class: "be-post-title"}) %>
              </div>
              <span>
                <!--投稿のカテゴリを表示-->
                <a class="be-post-tag"><%= post.category.name %></a>
              </span>
              <div class="author-post">
                <!--プロフィール画像があったら表示-->
                <% if post.user.avatar? %>
                <p>
                  <%= image_tag post.user.avatar.url, alt: "プロフィール画像", class: "ava-author", size: "70x70" %>
                </p>
                <% else %>
                <p>
                  <%= image_tag "/default03.jpg", alt: "NO IMAGE", class: "ava-author", size: "70x70" %>
                </p>
                <% end %>
                <!--投稿したユーザのニックネームを呼び出して表示-->
                <span>by
                  <a><%= post.user.name %></a>
                </span>
              </div>
              <div class="number-of-likes-and-comments">
                <span><i class="fa fa-eye"></i> 789</span>
                <!--閲覧数-->
                <span><i class="fa fa-comment-o"></i> 20</span>
                <!--リプライ数-->
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="be-comment-block">
          <h1 class="comments-title">リプライ</h1>
          <p class="about-comment-block">
            参加するには <a href="blog-detail-2.html" class="be-signup-link">ログイン</a>
            する必要があります。
          </p>
          <% @comments.each do |comment| %>
          <div class="be-comment">
            <div class="be-img-comment">
              <!--プロフィール画像かニックネームをクリックするとプロフィールページに飛ぶ-->
              <% if comment.user.avatar? %>
              <%= image_tag post.user.avatar, alt: "プロフィール画像", class: "rounded-circle", size: "40x40" %>
              <% else %>
              <%= image_tag "/default01.png", alt: "NO IMAGE", class: "rounded-circle", size: "40x40" %>
              <% end %>
              <!--<a href="blog-detail-2.html">
                ここでプロフィール画像を呼び出す
                <img src="/assets/c1.png" alt="" class="be-ava-comment">
              </a>-->
            </div>
            <div class="be-comment-content">
              <span class="be-comment-name">
                <!--ニックネームを呼び出す　クリックするとプロフィールページに飛ぶ-->
                <%= link_to(comment.user.name, user_path(comment)) %>
                <!--<a href="blog-detail-2.html">ユーザー名</a>-->
              </span>
              <span class="be-comment-time">
                <i class="fa fa-clock-o"></i>
                <!--コメントした日時を表示-->
                <%= comment.created_at %>
              </span>
              <p class="be-comment-text">
                <!--コメント内容を表示-->
                <%= safe_join(comment.comment.split("\n"),tag(:br)) %>
              </p>
              <div class="be-reply-comment-content">
                <span class="be-comment-name">
                  <!--ニックネームを呼び出す　クリックするとプロフィールページに飛ぶ-->
                  <%= link_to(comment.user.name, user_path(comment)) %>
                  <!--<a href="blog-detail-2.html">ユーザー名</a>-->
                </span>
                <span class="be-comment-time">
                  <i class="fa fa-clock-o"></i>
                  <!--コメントした日時を表示-->
                  <%= comment.created_at %>
                </span>
                <p class="be-comment-text">
                  <!--コメント内容を表示-->
                  <%= safe_join(comment.comment.split("\n"),tag(:br)) %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 col-md-pull-9 left-feild">
        <div class="be-user-block">
          <div class="be-user-detail">
            <% if @post.user.avatar? %>
            <p>
              <%= image_tag post.user.avatar.url, alt: "プロフィール画像", class: "be-ava-user", size: "70x70" %>
            </p>
            <% else %>
            <p>
              <%= image_tag "/default03.jpg", alt: "NO IMAGE", class: "be-ava-user", size: "70x70" %>
            </p>
            <% end %>
            <p class="be-use-name"><%= @post.user.name %></p>
            <!--投稿したユーザのニックネームを呼び出して表示-->
            <span class="be-user-info">
              ここにも何か入れる
            </span>
          </div>
          <div class="be-text-userblock">
            <%= @post.user.self_introduction %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- フッター -->

<div class="be-fixed-filter"></div>

<div class="large-popup login">
  <div class="large-popup-fixed"></div>
  <div class="container large-popup-container">
    <div class="row">
      <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-times close-button"></i>
            <h5 class="large-popup-title">ログイン</h5>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
          <div class="col-md-6">
            <%= f.email_field :email, class: 'input-signtype', placeholder: "メールアドレスを入力してください" %>
            <%= f.password_field :password, class: 'input-signtype', placeholder: "パスワードを入力してください" %>
          </div>
          <div class="col-xs-6 for-signin">
            <%= f.submit 'ログイン', class: 'be-popup-sign-button' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-popup register">
  <div class="large-popup-fixed"></div>
  <div class="container large-popup-container">
    <div class="row">
      <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-times close-button"></i>
            <h5 class="large-popup-title">アカウント作成</h5>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'new_user' }) do |f| %>
          <div class="col-md-6">
            <%= f.text_field :name, :class => "input-signtype", :placeholder => "ニックネーム" %>
          </div>
          <div class="col-md-6">
            <%= f.email_field :email, :class => "input-signtype", :placeholder => "Eメール" %>
          </div>
          <div class=" col-md-6">
            <%= f.password_field :password, :class => "input-signtype", :placeholder => "パスワード" %>
          </div>
          <div class="col-md-6">
            <%= f.password_field :password_confirmation, :class => "input-signtype", :placeholder => "パスワードをもう一度入力してください" %>
          </div>
          <div class="col-md-6">
            <div class="be-custom-select-block">
              <%= f.label :sex, '性別'%>
              <%= f.select :sex, {'男性': 1, '女性': 2, 'その他': 3}, { include_blank: '性別' }, { class: 'be-custom-select', required: true } %>
            </div>
          </div>
          <div class="col-md-6 be-date-block">
            <div class="form-group">
              <%= f.label :birthday, '生年月日' %>
              <%= f.date_field :birthday, class: 'form-control' %>
            </div>
            <!--生年月日入力フォームその2-->
            <%# <div class="input-date">
							<input name="date" type="date" />
						</div> %>
          </div>
          <div class="col-md-6 for-signin">
            <%= f.submit '登録する', class: 'be-popup-sign-button' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="theme-config">
  <div class="main-color">
    <div class="title">Main Color:</div>
    <div class="colours-wrapper">
      <div class="entry color1 m-color active" data-colour="/assets/stylesheet.css"></div>
      <div class="entry color3 m-color" data-colour="/assets/style-green.css"></div>
      <div class="entry color6 m-color" data-colour="/assets/style-orange.css"></div>
      <div class="entry color8 m-color" data-colour="/assets/style-red.css"></div>
      <div class="title">Second Color:</div>
      <div class="entry s-color  active color10" data-colour="/assets/stylesheet.css"></div>
      <div class="entry s-color color11" data-colour="/assets/style-oranges.css"></div>
      <div class="entry s-color color12" data-colour="/assets/style-greens.css"></div>
      <div class="entry s-color color13" data-colour="/assets/style-reds.css"></div>
    </div>
  </div>
  <div class="open"><img src="/assets/icon-134.png" alt=""></div>
</div>
<!-- SCRIPTS	 -->
<script src="/assets/jquery-2.1.4.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/idangerous.swiper.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/jquery.viewportchecker.min.js"></script>
<script src="/assets/magnific.js"></script>
<script src="/assets/global.js"></script>

<% end %>