<div class="be-loader">
  <div class="spinner">
		<img src="/assets/logo-loader.png"  alt="">
		<p class="circle">
			<span class="ouro">
			  <span class="left"><span class="anim"></span></span>
			  <span class="right"><span class="anim"></span></span>
			</span>
		</p>
	</div>
</div>

<!-- ヘッダー -->

<!-- MAIN CONTENT -->
	<div id="content-block">	
		<div class="container be-detail-container">

			<div class="block">
				<h2 class="content-title">お問合せ</h2>
				<div class="block-subtitle">Thingumoに関するお問い合わせは、以下のフォームよりお寄せください。</div>							
				<div class="contect-form">
					<form class="form-block">
					<%= form_with(model: @inquiry) do |f| %>
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group fl_icon">
									<%= f.label :category_id, 'お問い合わせ内容の種類' %>
									<div>
										<%= f.collection_select :category_id, @categories, :id, :name, { include_blank: '選択してください' }, { class: 'new-inquiry-select' } %>
									</div>
								</div>
							</div>											
							<div class="col-xs-12">									
								<div class="form-group">
									<%= f.text_area :content, class: 'form-control', rows: 8 %>
								</div>
							</div>
						</div>
						<!--問い合わせを保存するボタン-->
						<div>
							<%= f.submit '送信する', class: 'button-26' %>
						</div>
					<% end %>
					</form>
				</div>
			</div>
		</div>
	</div>


<!-- フッター -->

<div class="be-fixed-filter"></div>

<div class="theme-config">
	<div class="main-color">
		<div class="title">Main Color:</div>
		<div class="colours-wrapper">
			<div class="entry color1 m-color active" data-colour="/assets/stylesheet.css"></div>
			<div class="entry color3 m-color" data-colour="/assets/style-green.css"></div>
			<div class="entry color6 m-color" data-colour="/assets/style-orange.css"></div>
			<div class="entry color8 m-color" data-colour="/assets/style-red.css"></div>
			<div class="title">Second Color:</div>
			<div class="entry s-color  active color10" data-colour="/assets/stylesheet.css"></div>
			<div class="entry s-color color11" data-colour="/assets/style-oranges.css"></div>
			<div class="entry s-color color12" data-colour="/assets/style-greens.css"></div>
			<div class="entry s-color color13" data-colour="/assets/style-reds.css"></div>
		</div>
	</div>
	<div class="open"><img src="/assets/icon-134.png" alt=""></div>
</div>
<!-- SCRIPT	-->
<script src="/assets/jquery-2.1.4.min.js"></script>
<script src="/assets/jquery-ui.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/idangerous.swiper.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/jquery.viewportchecker.min.js"></script>
<script src="/assets/colors.js"></script>
<script src="/assets/jqColorPicker.js"></script>
<script src="/assets/my-style.js"></script>
<!--<script src="/assets/global.js"></script>-->

